In [1]:
import math
h = [1, 2, 3]
s = [x for x in h]
print(s)

[1, 2, 3]

In [2]:
s = [math.sin(x*math.pi/12) for x in h]
print(s)

[0.25881904510252074, 0.49999999999999994, 0.7071067811865475]

In [3]:
import pandas as pd
Hour = pd.DataFrame(h)
Hour.head()

   0
0  1
1  2
2  3

In [4]:
Hour[Hour.columns[0]].tolist()

[1, 2, 3]

In [5]:
import numpy as np
np.array(Hour[Hour.columns[0]].tolist())

array([1, 2, 3])

In [11]:
S = []
for h in Hour[0]:
    S.append(math.sin(h*math.pi/12) )
print(S)

[0.25881904510252074, 0.49999999999999994, 0.7071067811865475]